body{
  margin: 0;
  font-family: "BAUHS93";
  background: black;
  color: white;
  font-size: 90px;
}
*,
*::before
*::after
{
  box-sizing: border-box;
}

.container {
  text-align: center;
  width: 100%;
  max-width: 1200px;
  margin: 50px auto ;
}

.icons {
  text-align: center;
  max-width: 670px;
  margin: 0 auto;


}





@font-face {
  	font-family: 'BAUHS93';
  	src: url('./BAUHS93.eot');
  	src: local('BAUHS93'), url('fonts/BAUHS93.woff') format('woff'), url('fonts/BAUHS93.ttf') format('truetype');


  }
