body{
  margin: 0;
  font-family: "bauhaus93";
  background: black;
  color: white;
  font-size: 90px;
}
*,
*::before
*::after
{
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}





@font-face {
  font-family: "bauhaus93";
  src:url("BAUHS93.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;

  }
